$white: #ffffff;
$darkBlue: #070724;
$lightDarkBlue: #38384f;
$gray: #838391;
$lightBlue: #419ebb;
$darkYellow: #eda249;
$purple: #6d2ed5;
$orange: #d14c32;
$tomatoeRed: #d83a34;
$brown: #cd5120;
$tomatoeRed: #1ec1a2;
$turkuaz: #1ec1a2;
$blue: #2d68f0;

$antonioFont: 'Antonio', sans-serif;
$spartanFont: 'Spartan', sans-serif;
