@import './resets';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Spartan:wght@400;700&display=swap');

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: $darkBlue;
  color: $white;
  background-image: url(../components/assets/background-stars.svg);
}
.container {
  width: 100%;
  height: 100vh;
}
.content {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: $antonioFont;
  font-size: 80px;
  line-height: 103px;
  text-transform: uppercase;
}
h2 {
  font-family: $antonioFont;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}
h3 {
  font-family: $spartanFont;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
h4 {
  font-family: $spartanFont;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-family: $spartanFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 48px;
    line-height: 62px;
  }
  h2 {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.9px;
  }
  h3 {
    font-size: 9px;
  }
  h4 {
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.73px;
  }
  p {
    font-size: 11px;
    line-height: 22px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 52px;
  }
  h2 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.75px;
  }
  h3 {
    line-height: 10px;
  }
  h4 {
    font-size: 8px;
    line-height: 16px;
  }
}

// @mixin flex {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// Button

button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background: $darkBlue;
  color: $white;
  border: solid 1px $gray;
  cursor: pointer;

  &:hover {
    background: $gray;
    border: none;
  }
  &:focus {
    background: $turkuaz;
  }
  .btn__number {
    padding: 0 28px;
    opacity: 0.5;
  }
}

// Navbar

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 32px;

  .logo {
    font-size: 28px;
    line-height: 85px;
    letter-spacing: -1.05px;
  }

  .menu-btn {
    display: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: $white;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 33px;

    h4 {
      opacity: 0.8;
    }
    h4:hover {
      opacity: 1;
    }

    img {
      display: none;
    }
  }
}

// Hero

.hero-container {
  height: 70vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .image-container {
    width: 50%;
    position: relative;
    @include flexCenter();

    .planet-internal {
      position: absolute;
      display: none;
    }
    .planet-geology {
      position: absolute;
      width: 30%;
      max-width: 160px;
      top: 70%;
      display: none;
    }
  }
  .planet {
    width: 30%;

    .planet-description {
      margin: 24px 0;
    }

    .source {
      margin-bottom: 40px;
    }
  }
  button {
    max-width: 350px;
  }
}

// Featured info
.featured-info {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .info-item {
    padding-left: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 128px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    h4 {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 1024px) {
  nav {
    justify-content: space-evenly;
    flex-direction: column;
    height: 160px;
    margin-bottom: 2rem;
  }
  .content {
    width: 90%;
  }
  .hero-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: 65vh;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 50%;
    }
    .planet {
      width: 100%;
      display: flex;
      gap: 10%;
    }

    .planet-info {
      width: 40%;
    }
    .info-btns {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;

      button {
        height: 40px;
      }
    }
  }
  .featured-info {
    margin-bottom: 3rem;
    .info-item {
      height: 88px;
    }
  }
}

@media screen and (max-width: 767px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: row;
    height: 68px;
    position: relative;
    margin: 0;
    .menu-btn {
      @include flexCenter();
    }
    ul {
      position: absolute;
      flex-direction: column;
      height: 100vh;
      top: 8vh;
      width: 0;
      right: 0;
      background: $darkBlue;
      z-index: 2;
      padding: 44px 24px;
      transition: all 0.5s;
      overflow: hidden;
      visibility: hidden;

      li {
        width: 100%;
      }
      a {
        display: flex;
        align-items: center;
        width: 100%;

        .planet-icon {
          height: 20px;
          width: 20px;
          border-radius: 50%;
        }
        .mercury {
          background: $lightBlue;
        }
        .venus {
          background: $darkYellow;
        }
        .earth {
          background: $purple;
        }
        .mars {
          background: $orange;
        }
        .jupiter {
          background: #ecad7a;
        }
        .saturn {
          background: #fccb6b;
        }
        .uranus {
          background: $turkuaz;
        }
        .neptune {
          background: $blue;
        }
        h4 {
          font-size: 15px;
          line-height: 25px;
          padding-left: 25px;
        }

        img {
          width: 4px;
          height: 8px;
          margin-left: auto;
          display: block;
        }
      }
    }
  }
  .content {
    position: relative;

    .hero-container {
      justify-content: space-between;
      height: 70vh;
      padding-top: 20%;

      .image-container {
        width: 100%;
      }
      .planet {
        flex-direction: column-reverse;

        .planet-info {
          width: 100%;
          text-align: center;
        }
      }
    }

    .info-btns {
      position: absolute;
      width: 100%;
      flex-direction: row;
      top: 0;
      gap: 0;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      button {
        width: 30%;
        height: 50px;
        border: none;
        justify-content: center;

        .btn__number {
          display: none;
        }
      }
    }
  }

  .featured-info {
    margin-bottom: 3rem;
    flex-direction: column;
    gap: 8px;

    .info-item {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 48px;
      width: 100%;
      padding: 0 24px;
    }
  }
}
